<!DOCTYPE html>
<html>
  <head>
    <title>RailsStupidCoaching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <ul>
        <%= link_to "Ask", ask_path, :class => "navbar-icon" %>
        <%= link_to "Answer", answer_path, :class => "navbar-icon" %>
      </ul>
    </div>
    <div class="container">
      <h1>Stupid Coaching</h1>
      <%= yield %>
    </div>
  </body>
</html>
