<!DOCTYPE html>
<html>
  <head>
    <title>RailsStupidCoaching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <ul>
        <%= link_to "Ask", ask_path %>
        <%= link_to "Answer", answer_path %>
      </ul>
    </div>
    <h1>Welcome to the Stupid Coaching site</h1>
    <%= yield %>
    <div class="footer">Join us</div>
  </body>
</html>
